<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head">Head</div>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<!-- Main Content -->
<main role="main">
    <div class="container p-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}" href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contacts</li>
            </ol>
        </nav>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Contacts</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="contact,iterStat: ${contacts}">
                <tr>
                    <th scope="row" th:text="${iterStat.count}">1</th>
                    <td>
                        <a href="#" th:href="@{/contacts/details/{id}(id=${contact.key})}"
                           th:text="${contact.value.firstName + ' ' + contact.value.lastName}">First name Last name</a>
                    </td>
                    <td class="text-right">
                        <a th:href="@{/contacts/edit/{id}(id=${contact.key})}" href="#" class="btn btn-secondary btn-sm"><i
                                class="fa fa-edit"></i> Edit</a>
                        <a th:href="@{/contacts/delete/{id}(id=${contact.key})}" href="#" class="deleteBtn btn btn-danger btn-sm"
                           style="color:white;"><i class="fa fa-trash"></i> Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<!-- Finish Main Content -->

<div th:replace="fragments/footer">Footer</div>

<div th:replace="fragments/scripts">Scripts</div>

<script src="/js/app.js"></script>
</body>
</html>